* {
    margin: 0px;
    padding: 0px;
}


body{
    background-color: #fff8f0;
}

main {
    color: #5a3e36;
    border: 1px solid #5a3e36;
    padding: 20px;
    font-family: Georgia, serif;
    font-size: 16px;
    margin: 30px auto;
    width: 47%;
    text-align: center;
}

main h2 {
    margin: 30px 0px 20px 0px;
}


main ul li {
    list-style-type: none;
    margin: 20px 0px 15px 20px;
}

.encabezado {
    background-image: url(../imgs/logo.png), url(../imgs/guesteaus.png);
    background-size: 80px auto, cover;
    background-position: left bottom, center bottom;
    background-repeat: no-repeat, no-repeat;
    height: 200px;
    color: #5a3e36;
    font-family: Georgia, serif;
    font-size: 36px;
    text-align: center;
}



.menu ul {
    display: flex;
    /* Sirve para convertirlo en un contenedor flexible */
    list-style-type: none;
    justify-content: center;
    background-color: #a77e58;

}

.menu ul li {
    display: inline-block;
    /* Para mostrar los elementos en línea */
}

.menu ul li a {
    display: block;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    padding: 15px 20px;
    text-decoration: none;
    /* De esta forma se borra el subrayado del enlace*/
    transition: color 0.3s ease;
    /* Para hacer la trancisión del cambio de color que se ha indicado abajo*/
}

.menu ul li a:hover {
    color: #5a3e36;
    background-color: #d7b384aa;
    font-weight: bold;
}

.menu ul.cambio {
    border-bottom: 2px solid #ffffff;
}

.pie {
    clear: both;
    /* Sirve para que el pie de página se coloque debajo de la clase sidebar y contenido */
    padding: 15px;
    margin: 30px;
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    text-align: center;
}