* {
    margin: 0px;
    padding: 0px;
}

input[type='text'],
input[type='email'],
input[type='tel'] {
    border: 1px solid #a77e58;
    margin: 10px;
    border-radius: 5px;
    background-color: #fff8f0;
}


input[type='submit'], button {
    background-color: #5a3e36;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0px 10px 40px;

}

input[type='submit']:hover, button:hover {
    background-color: #a77e58;
}

label {
    font-size: 16px;
    display: block;
}


@media screen and (max-width: 600px) {
    input[type='text'],
    input[type='email'],
    input[type='tel'],
    input[type='number'],
    input[type='date'],
    input[type='time'],
    textarea {
        width: 95%;
    }
}

form {
    font-family: Georgia, serif;
    margin: 40px;
}

fieldset {
    margin-top: 30px;
    color: #8a694a;
    font-weight: bold;
}

legend {
    margin: 10px;
    color: #5a3e36;
    font-size: 25px;
    font-weight: bold;
}


input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='time'],
textarea {
    margin: 10px 0px 0px 20px;
    width: 14%;

}

label {
    font-size: 16px;
    margin: 0px 0px 20px 40px;
    
}

.encabezado {
    background-image: url(../imgs/logo.png), url(../imgs/guesteaus.png);
    background-size: 80px auto, cover;
    background-position: left bottom, center bottom;
    background-repeat: no-repeat, no-repeat;
    height: 200px;
    color: #5a3e36;
    font-family: Georgia, serif;
    font-size: 36px;
    text-align: center;
}


.menu ul {
    display: flex; /* Sirve para convertirlo en un contenedor flexible */
    list-style-type: none;
    justify-content: center;
    background-color: #a77e58;

}

.menu ul li {
    display: inline-block; /* Para mostrar los elementos en línea */
}

.menu ul li a {
    display: block;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    padding: 15px 20px;
    text-decoration: none; /* De esta forma se borra el subrayado del enlace*/
    transition: color 0.3s ease; /* Para hacer la trancisión del cambio de color que se ha indicado abajo*/
}

.menu ul li a:hover {
    color:  #5a3e36;
    background-color: #d7b384aa;
    font-weight: bold;
}

.menu ul.cambio {
    border-bottom: 2px solid #ffffff; 
}